#banner-fullslide .bx-wrapper {
	border:0;
	margin-bottom:0px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#banner-fullslide .bx-viewport{
	overflow:visible !important;
}
#banner-fullslide li{
	width:100% !important;
}
#banner-fullslide .bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
	bottom:10px !important;
}
#banner-fullslide .bx-controls-direction{
	display:none;
}